aside {
    display: flex;
    display: block;
    justify-content: space-around;
    font-family: 'Kanit', sans-serif;
    background-color: rgb(100, 98, 102);
    height: 100%;
}
.listaAside {
    list-style: none;
    width: 100%;
    padding: 0;
}
.listaAside li {
    width: 100%;
    padding: 0.5rem 0;
}
.listaAside li:hover {
    background-color: rgb(166, 98, 230);
    border-radius: 15px;
}
.listaAside li a {
    color: antiquewhite;
    padding: 0 2rem;
}
.listaAside li a:link{
    text-decoration: none;
}