<div class="barraSup">
    <h1>Barber & Tatoo - Art</h1>
    <ul class="rrss">
        <li>
            <a href="#"><img src="../../../assets/img/fb.png" alt="Facebook Baber & tatoo" class="imgRRSS"></a>
        </li>
        <li>
            <a href="#"><img src="../../../assets/img/ig.png" alt="Instagram Barber & tatoo" class="imgRRSS"></a>
        </li>
        <li>
            <a href="#"><img src="../../../assets/img/wpp.png" alt="Whatsapp Christian" class="imgRRSS"></a>
        </li>
        <li>
            <a href="#"><img src="../../../assets/img/ig.png" alt="Instagram colorimetría" class="imgRRSS"></a>
        </li>
    </ul>
</div>
